@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

:root {
  --col-hero-btn-bg: linear-gradient(
    86.95deg,
    #7f5cff -38.28%,
    #45108a 155.03%
  );
  --col-normal-btn-bg: #7f5cff;
  --border-radius-hero-btn: 10px;
  --border-radius-normal-btn: 4px;
  --col-btn-text: #ffffff;
  --font-family: "Work Sans", sans-serif;
}

* {
  font-family: var(--font-family);
  letter-spacing: -0.02em;
}

.btn-hero {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.btn-hero:hover,
.btn-hero:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.btn-hero:hover{
  transform: translateY(-1px);
}

.btn-hero:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

.btn-normal {
  background: var(--col-normal-btn-bg);
  color: var(--col-btn-text);
  cursor: pointer;
  border-radius: var(--border-radius-normal-btn);
  border: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-hero-size {
  width: 15.625rem;
  height: 5rem;
  font-size: 1.7rem;
}

.btn-register-size {
  width: 95%;
  height: 3.1rem;
  padding: 1rem;
  font-size: 1.1rem;
}

.btn-join-now-size {
  width: 7rem;
  height: 2.2rem;
  font-size: 1rem;
}

.btn-register-now-size {
  padding: 0.75rem 1.2rem;
  font-size: 1rem;
}

/* 
================
Responsiveness
================
*/
@media screen and (max-width: 600px) {
  .btn-hero-size {
    width: 14rem;
    height: 4.3rem;
    font-size: 1.5rem;
  }
  .btn-register-size {
    /* width: 4.955rem; */
    height: 2.35rem;
  }
  .btn-register-now-size {
    width: 6.99375rem;
    height: 1.825rem;
    padding: 0.3125rem 0.5625rem;
  }
  .btn-join-now-size {
    width: 6.9rem;
    height: 1.9rem;
  }
}

@media screen and (min-width: 1600px) {
  .btn-hero-size {
    width: 20rem;
    height: 7rem;
    font-size: 2rem;
  }
}

@media screen and (min-width: 2300px) {
  .btn-hero-size {
    width: 22rem;
    height: 8rem;
    font-size: 2.4rem;
  }
}
